<!-- background big texts -->
<aside>
    <h2><span id="bg-big-word" class="fade-in-bg-big-word">Web</span></h2>
    <h2><span id="bg-mid-word" class="fade-in-bg-mid-word">Dev.</span></h2>
</aside>

<main>
    <div class="section" id="type-writers">
        <h2><span class="type-writer type-first">Hi, I am Jason.</span></h2>
        <h2><span class="type-writer type-second">I am a Full Stack Developer.</span></h2>
    </div>
</main>
