<!DOCTYPE html>

<html dir="ltr" lang="en-us">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="default.css" integrity="sha512-bKkvSCxEMpXkATlke24CHw3VZ4sFw+SBeSRcEGS3vog7lqk+Nq9JPPvvmt9mHcZAR3qwWZzXgX3BRZ1vnNzGew== sha384-NUzA4cQuMGPhimVu3Fo/R7uLWgLic8N9EtYrR8qG8f1vtRi3x6FuV+DqvmV/4QXt" />
    <link rel="stylesheet" href="about.css" integrity="sha512-i2s3zLaSgd9Umo/wHFEHc0jlj59uBwzqlGJ78nHCaCmx53hWS2NYAzFHRYqHlsPnXbsF6MN4K+0zD/LlFX2+hg== sha384-Fs0FjIM8hBJ3ELgJKv61lisuq2+QNM9eqN50KczpczJ0rwoCFBf6/k8Kwzzwtxsh">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw== sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <title>About | Jason's Portfolio</title>
</head>

<body class="bg-color">
    <!-- main title and navigation bar -->
    <header class="bg-color">
        <!-- main title -->
        <h1 id="title-top">Jason's</h1>
        <h1 id="title-bottom">Portfolio</h1>
        
        <!-- menu icon only appears on small window and underscore only appears on large window-->
        <nav class="right-nav">
            <div class="btn-wrapper">
                <a href="index.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="fas fa-home"></i>
                </div>
                <a href="index.html" class="menu-string">Home</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="about.html" class="hover-wrapper"></a>
                <div class="menu-icon cur-category">
                    <i class="fas fa-address-card"></i>
                </div>
                <a href="about.html" class="menu-string cur-category">About</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="projects.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <a href="projects.html" class="menu-string">Projects</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="blog.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="far fa-newspaper"></i>
                </div>
                <a href="blog.html" class="menu-string">Blog</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="contact.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="far fa-envelope"></i>
                </div>
                <a href="contact.html" class="menu-string">Contact</a>
                <div class="underscore"></div>
            </div>
        </nav>
    </header>

    <!-- About me and skills I have -->
    <main>
        <div class="section">
            <article class="article-one-column">
                <h3>About me</h3>
                <p>I am a full stack developer who love coding, problem solving, and communicating.</p>
                <p>I am currently studying web development and agile methodology at Coder Academy. Previousely I had
                    worked at LG Electronics as an IOT software developer and mobile phone software developer.</p>
                <p>Here are my skills as below. I know there is no such 100% for each skill, so these levels are just
                    relative to each other.</p>
            </article>

            <article id="skills" class="article-one-column">
                <h6>Skills</h6>
                <div class="skill">
                    <div class="skill-icon" style="color: #FC490B;">
                        <img src="res/ruby_logo.svg.png" alt="Ruby logo">
                    </div>
                    <div class="progress-bar">
                        <div class="percent_word" style="width:80%">.</div>
                        <div class="percent" style="width: 80%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-icon" style="color: red;">
                        <i class="fab fa-java"></i>
                    </div>
                    <div class="progress-bar">
                        <div class="percent_word" style="width: 80%">.</div>
                        <div class="percent" style="width: 80%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-icon" style="color: #FC490B;">
                        <i class="fab fa-html5"></i>
                    </div>
                    <div class="progress-bar">
                        <div class="percent_word" style="width: 70%">.</div>
                        <div class="percent" style="width: 70%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-icon" style="color: #2196F3">
                        <i class="fab fa-css3-alt"></i>
                    </div>
                    <div class="progress-bar">
                        <div class="percent_word" style="width: 70%">.</div>
                        <div class="percent" style="width: 70%"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-icon" style="color: black;">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="progress-bar">
                        <div class="percent_word" style="width: 40%">.</div>
                        <div class="percent" style="width: 40%"></div>
                    </div>
                </div>
            </article>
        </div>
    </main>

    <!-- links to github, linkedIn, twitter and facebook -->
    <footer class="flexible-footer">
        <a href="https://github.com/jasonkim7288" class="links-icon links-icon-background to-left">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/im-jasonkim" class="links-icon links-icon-background">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/jasonkim7288" class="links-icon links-icon-background">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100003947625728"
            class="links-icon links-icon-background to-right">
            <i class="fab fa-facebook-f"></i>
        </a>
    </footer>
</body>

</html>