<!DOCTYPE html>

<html dir="ltr" lang="en-us">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../default.css" integrity="sha512-bKkvSCxEMpXkATlke24CHw3VZ4sFw+SBeSRcEGS3vog7lqk+Nq9JPPvvmt9mHcZAR3qwWZzXgX3BRZ1vnNzGew== sha384-NUzA4cQuMGPhimVu3Fo/R7uLWgLic8N9EtYrR8qG8f1vtRi3x6FuV+DqvmV/4QXt" />
    <link rel="stylesheet" href="../blog.css" integrity="sha512-rT5T0zAaL7EobJgNozpWdjKL6JSZkyKBMGHQFKzmxjthekEoSsrY3rr1tcAc48h5NqVuw4GrcDTgaw0mDoZY7Q== sha384-jkCCSx9Lgmm2svYtEE4qfHzPEw4ejxbJhLkb5tnd9asXhmG48DhjsAurRz5A/wX9">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw== sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <title>Blog | Jason's Portfolio</title>
</head>

<body class="bg-color">
    <!-- main title and navigation bar -->
    <header class="bg-color">
        <!-- main title -->
        <h1 id="title-top">Jason's</h1>
        <h1 id="title-bottom">Portfolio</h1>

        <!-- menu icon only appears on small window and underscore only appears on large window-->
        <nav class="right-nav">
            <div class="btn-wrapper">
                <a href="../index.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="fas fa-home"></i>
                </div>
                <a href="../index.html" class="menu-string">Home</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="../about.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="fas fa-address-card"></i>
                </div>
                <a href="../about.html" class="menu-string">About</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="../projects.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <a href="../projects.html" class="menu-string">Projects</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="../blog.html" class="hover-wrapper"></a>
                <div class="menu-icon cur-category">
                    <i class="far fa-newspaper"></i>
                </div>
                <a href="../blog.html" class="menu-string cur-category">Blog</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <a href="../contact.html" class="hover-wrapper"></a>
                <div class="menu-icon">
                    <i class="far fa-envelope"></i>
                </div>
                <a href="../contact.html" class="menu-string">Contact</a>
                <div class="underscore"></div>
            </div>
        </nav>
    </header>

    <!-- blog main -->
    <main>
        <div class="section">
            <article class="article-one-column">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="author-info">
                    <img src="../res/author_1.png" alt="Author" />
                    <div class="author-detail">
                        <h4>Jason Kim</h4>
                        <h4>Mar 9 2020</h4>
                    </div>
                </div>
                <img class="blog-main-img"
                    src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="main blog image" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio fugit consequuntur
                    aliquid veniam commodi autem quo. Autem a sed harum quod sunt dolorum maiores ullam voluptate
                    exercitationem aliquam consequuntur corrupti cumque unde earum nemo ut totam inventore, sit
                    laudantium. Deserunt dolor natus dolorum harum odio maiores blanditiis ut obcaecati.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora, impedit rem neque totam harum
                    fugiat quis excepturi reiciendis dolores hic eveniet corrupti pariatur vitae, similique ducimus!
                    Voluptas, ipsa eius?</p>
            </article>
            <div id="blog-pages-index">
                <h2>&lt;
                    <label><a href="../blog.html">1</a></label>
                    <label><a href="blog_02_03.html">2</a></label>
                    <label class="cur-page">3</label>
                    <label><a href="blog_16_03.html">4</a></label>
                    <label><a href="blog_23_03.html">5</a></label>
                    &gt;
                </h2>
            </div>
        </div>
    </main>

    <!-- links to github, linkedIn, twitter and facebook -->
    <footer class="flexible-footer">
        <a href="https://github.com/jasonkim7288" class="links-icon links-icon-background to-left">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/im-jasonkim" class="links-icon links-icon-background">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/jasonkim7288" class="links-icon links-icon-background">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100003947625728"
            class="links-icon links-icon-background to-right">
            <i class="fab fa-facebook-f"></i>
        </a>
    </footer>
</body>

</html>