<!-- blog main -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <div class="author-info">
                <img src="../res/author_1.png" alt="Author" />
                <div class="author-detail">
                    <h4>Jason Kim</h4>
                    <h4>Mar 23 2020</h4>
                </div>
            </div>
            <img class="blog-main-img"
                src="https://images.unsplash.com/photo-1432958576632-8a39f6b97dc7?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="main blog image" />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas autem corporis, rem earum odio, cum
                eius sed, magni voluptatum ea sint. Voluptatibus deleniti id quo sapiente itaque nam et repellat!
                Voluptatibus dignissimos nostrum accusamus excepturi ad perspiciatis, fugit, repellendus eius
                possimus vero provident nemo temporibus sapiente tempore voluptas adipisci debitis rem et repellat
                iusto modi quidem. Corrupti perferendis ab quas.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aliquam nam perspiciatis enim
                sapiente, distinctio porro repudiandae velit. Aspernatur, possimus?</p>
        </article>
        <div id="blog-pages-index">
            <h2>&lt;
                <label><a href="../blog.html">1</a></label>
                <label><a href="blog_02_03.html">2</a></label>
                <label><a href="blog_09_03.html">3</a></label>
                <label><a href="blog_16_03.html">4</a></label>
                <label class="cur-page">5</label>
                &gt;
            </h2>
        </div>
    </div>
</main>
