<!-- blog main -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <div class="author-info">
                <img src="../res/author_1.png" alt="Author" />
                <div class="author-detail">
                    <h4>Jason Kim</h4>
                    <h4>Mar 9 2020</h4>
                </div>
            </div>
            <img class="blog-main-img"
                src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="main blog image" />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio fugit consequuntur
                aliquid veniam commodi autem quo. Autem a sed harum quod sunt dolorum maiores ullam voluptate
                exercitationem aliquam consequuntur corrupti cumque unde earum nemo ut totam inventore, sit
                laudantium. Deserunt dolor natus dolorum harum odio maiores blanditiis ut obcaecati.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora, impedit rem neque totam harum
                fugiat quis excepturi reiciendis dolores hic eveniet corrupti pariatur vitae, similique ducimus!
                Voluptas, ipsa eius?</p>
        </article>
        <div id="blog-pages-index">
            <h2>&lt;
                <label><a href="../blog.html">1</a></label>
                <label><a href="blog_02_03.html">2</a></label>
                <label class="cur-page">3</label>
                <label><a href="blog_16_03.html">4</a></label>
                <label><a href="blog_23_03.html">5</a></label>
                &gt;
            </h2>
        </div>
    </div>
</main>
