<!-- projects articles -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3>Resume</h3>
            <p>Click below icon to download</p>
            <%= link_to("JasonKimResume.pdf") do %>
                <div class="links-icon-background to-little-right color-aqua">
                    <i class="far fa-file"></i>
                </div>
            <% end %>
        </article>
        <article class="article-one-column">
            <h3>Projects</h3>
        </article>
        <article class="article-multi-column">
            <div class="post">
                <h2>Gmail terminal application</h2>
                <%= image_tag("gmailapp.gif", :alt => "Gmail application gif") %>
                <p>Language : Ruby </p>
                <p>Gmail application will manage your Gmail account, show the email list after logged in, show the
                    content of each email, and also let you create a new email with an file attachment. All those
                    functions can be done with a simple command-line interface (CLI).</p>
                <div>
                    <a href="https://github.com/jasonkim7288/gmail-terminal-app">
                        <div class="links-icon-background to-left">
                            <i class="fab fa-github"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="post">
                <h2>Accuweather terminal application</h2>
                <%= image_tag("weatherapp.gif", :alt => "Weather application gif") %>
                <p>Language : Ruby </p>
                <p>Weather application will display and READ the weather information based on the region you input.
                    Accuweather APIs are utilized for getting GPS coordinates and get the weather information.</p>
                <p>Once the user input the city name, candidate cities which have the same name but locate in the
                    different country or state can be listed by using AccuWeather REST Api. Each city information
                    has it's own city id and GPS coordinates.</p>
                <p>After getting the city information, you can see the 5 DAY FORECAST of the city by using
                    AccuWeather REST Api.</p>
                <div>
                    <a href="https://github.com/jasonkim7288/weather_terminal_app">
                        <div class="links-icon-background to-left">
                            <i class="fab fa-github"></i>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    </div>
</main>
