<!-- About me and skills I have -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3>About me</h3>
            <p>I am a full stack developer who love coding, problem solving, and communicating.</p>
            <p>I am currently studying web development and agile methodology at Coder Academy. Previousely I had
                worked at LG Electronics as an IOT software developer and mobile phone software developer.</p>
            <p>Here are my skills as below. I know there is no such 100% for each skill, so these levels are just
                relative to each other.</p>
        </article>

        <article id="skills" class="article-one-column">
            <h6>Skills</h6>
            <div class="skill">
                <div class="skill-icon" style="color: #FC490B;">
                    <%= image_tag("ruby_logo.svg.png", :alt => "Ruby logo") %>
                </div>
                <div class="progress-bar">
                    <div class="percent_word" style="width:80%">.</div>
                    <div class="percent" style="width: 80%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-icon" style="color: red;">
                    <i class="fab fa-java"></i>
                </div>
                <div class="progress-bar">
                    <div class="percent_word" style="width: 80%">.</div>
                    <div class="percent" style="width: 80%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-icon" style="color: #FC490B;">
                    <i class="fab fa-html5"></i>
                </div>
                <div class="progress-bar">
                    <div class="percent_word" style="width: 70%">.</div>
                    <div class="percent" style="width: 70%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-icon" style="color: #2196F3">
                    <i class="fab fa-css3-alt"></i>
                </div>
                <div class="progress-bar">
                    <div class="percent_word" style="width: 70%">.</div>
                    <div class="percent" style="width: 70%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-icon" style="color: black;">
                    <i class="fab fa-github"></i>
                </div>
                <div class="progress-bar">
                    <div class="percent_word" style="width: 40%">.</div>
                    <div class="percent" style="width: 40%"></div>
                </div>
            </div>
        </article>
    </div>
</main>