<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :all   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="default.css" integrity="sha512-bKkvSCxEMpXkATlke24CHw3VZ4sFw+SBeSRcEGS3vog7lqk+Nq9JPPvvmt9mHcZAR3qwWZzXgX3BRZ1vnNzGew== sha384-NUzA4cQuMGPhimVu3Fo/R7uLWgLic8N9EtYrR8qG8f1vtRi3x6FuV+DqvmV/4QXt" />
    <link rel="stylesheet" href="bg_words.css" integrity="sha512-zjkYh2UehOclKTpK/41BGhY+X8J89pwXz5/AZGFXzAQQjavZviQ7dGGBuR/x7wunQzE2zqAIdz4Q1KePNjKFZQ== sha384-nV299rMV3hzOY44QTqD1Qifng5RhVcjl6UTPqcVJLw4Pet6YKfOxzwmBvXvFfzmO" />
    <link rel="stylesheet" href="index.css" integrity="sha512-G7Y1Qp1Pfaj/2m/YzvBXxDDT4BJYEVzkZJHbFvPZvOr+caUdGNQn3SNBR6kqWPILk3qG729uGUex5cFrA2TXeQ== sha384-mM36FOwySZgJemxGiD4yZOweGbchMZXy3Xab1iKXMNGqaZ68AMe/couFB+kBkoho" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw== sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
